<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>it.unipd.netmus.server.LoginServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/netmus/loginService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>libraryService</servlet-name>
    <servlet-class>it.unipd.netmus.server.LibraryServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>libraryService</servlet-name>
    <url-pattern>/netmus/libraryService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>songsService</servlet-name>
    <servlet-class>it.unipd.netmus.server.SongServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>songsService</servlet-name>
    <url-pattern>/netmus/songsService</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>usersService</servlet-name>
    <servlet-class>it.unipd.netmus.server.UserServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>usersService</servlet-name>
    <url-pattern>/netmus/usersService</url-pattern>
  </servlet-mapping>
  
    <!-- ===================== Login Google Servlet ===================== -->

  <servlet>
    <servlet-name>logingoogle</servlet-name>
    <servlet-class>it.unipd.netmus.server.servlet.LoginGoogleServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>logingoogle</servlet-name>
    <url-pattern>/logingoogle</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>logingooglecallback</servlet-name>
    <servlet-class>it.unipd.netmus.server.servlet.LoginGoogleCallbackServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>logingooglecallback</servlet-name>
    <url-pattern>/logingooglecallback</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Netmus.html</welcome-file>
  </welcome-file-list>
  
  <!-- Filters -->
  <!--
  <filter>
    <filter-name>loginfilter</filter-name>
    <filter-class>it.unipd.netmus.server.servlet.LoginFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>loginfilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  -->
  


</web-app>
