.main {

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	padding-top: 20px;
	margin: auto;      	
	
	width: 500px;
	height: 300px;      	

	border: 2px solid #AAAAAA;

	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-box-shadow: 4px 4px 10px #888888;
	-moz-box-shadow: 4px 4px 10px #888888;
	
	text-align: center;
	
}


.login {

	float: right;
	color: #37A6EB;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	width: 50px;
	border: 0px solid #FF0000;
	margin-left: 5px;
	
}

.login:hover {
	
	color: green;
	cursor: pointer;
	
}


.pass {
	
	width: 150px;
	margin-left: 10px;
	}
	

.user {
	
	width: 150px;
	
	}