.main {

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	padding-top: 20px;
	margin: auto;      	
	
	width: 500px;
	height: 300px;      	
	
	border: 2px solid #AAAAAA;
	
	background-color: #FFFFFF;

	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-box-shadow: 4px 4px 10px #888888;
	-moz-box-shadow: 4px 4px 10px #888888;
	
	
	text-align: center;
	
}

.container {
	
	
	opacity: 0;
	
	-webkit-transition: opacity 1.0s ease-in-out, height 0.3s ease-in-out;
	-moz-transition: opacity 1.0s ease, height 1s ease-in-out;
	-o-transition: opacity 1.0s ease-in-out, height 1s ease-in-out;
	transition: opacity 1.0s ease-in-out, height 1s ease-in-out;
		
}

.account {
	
	color: #999999;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 5px;
}


.error {

	color: red;
	font-family: Verdana;
	font-size: 10px;
	text-align: left;
	border: 0px solid #FF0000;
	
}


.login {

	position: absolute;
	top: 42px;
	right: 30px;
	color: #37A6EB;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	width: 80px;
	margin-left: 5px;
	
	
	-webkit-transition: opacity 0.2s ease-in-out, width 0.5s ease-in-out;
	-moz-transition: opacity 0.2s ease, width 0.5s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out, width 0.5s ease-in-out;
	transition: opacity 0.2s ease-in-out, width 0.5s ease-in-out;
	
	
}

.login:hover {
	
	color: green;
	cursor: pointer;
	
}


.pass {
	
	width: 150px;
	margin-left: 10px;
	}
	

.register {

	color: green;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
	border: 0px solid #FF0000;
	
	-webkit-transition: opacity 0.2s ease-in-out, height 1s ease-in-out;
	-moz-transition: opacity 0.2s ease, height 1s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out, height 1s ease-in-out;
	transition: opacity 0.2s ease-in-out, height 1s ease-in-out;
	
	
}

.register:hover {
	
	color: #37A6EB;
	cursor: pointer;
	
}

.registrazione {

	overflow: hidden;	
	height: 0px;
	opacity: 0;
	-webkit-transition: opacity 0.7s ease-in-out, height 0.3s ease-in-out;
	-moz-transition: opacity 0.7s ease, height 1s ease-in-out;
	-o-transition: opacity 0.7s ease-in-out, height 1s ease-in-out;
	transition: opacity 0.7s ease-in-out, height 1s ease-in-out;
	
	}

.user {
	
	width: 150px;
	
	}