.main {

	
	width: auto;
	height: 90%;
	
	min-width: 450px;      	
	min-height: 300px;      	
	
	border: 2px solid #AAAAAA;
	
	background-color: #FFFFFF;

	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-box-shadow: 4px 4px 10px #888888;
	-moz-box-shadow: 4px 4px 10px #888888;
	
	margin-top: 20px;
	margin-left: 220px;
	margin-right: 30px;
	margin-bottom: 20px;
	
	position: relative;
	
	
}

.accountButton {
	
	position: absolute;
	top: 20px;
	right: 300px;
	width: 60px;
	
	}
	
	
.cover {
	
	position: absolute;
	bottom: 60px; left:
	7px; width:
	164px;
	height: 164px;
	border: 1px solid #37A6EB;
	
	-webkit-box-shadow: 2px 2px 4px #888888;
	-moz-box-shadow: 2px 2px 4px #888888;
	}
	


.editButton {
	
	position: absolute;
	top: 20px;
	right: 370px;
	width: 60px;	
	
}
	
	
.left {

		 
	width: 180px;
	height: 90%;      	
	
	min-width: 180px;      	
	min-height: 300px;      	
	
	border: 2px solid #AAAAAA;
	
	background-color: #FFFFFF;

	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-box-shadow: 4px 4px 10px #888888;
	-moz-box-shadow: 4px 4px 10px #888888;
	
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 20px;
	
	position: absolute;
	
	top: 0px;
	left: 0px;
	
	text-align: left;
}

.catalogo {
	
	width: 300px;
	height: 200px;	
	
}

.catalogo_container {
	
	min-height: 100px;    
	
	margin-top: 100px;
	margin-bottom: 100px;
	
	
	
	width: 100%;
	height: 0px;
	border-bottom: 2px solid #DDDDDD;
	border-top: 2px solid #DDDDDD;
	
	overflow: auto;
	
	
	}

.container {
	
	position: absolute;
	height: 100%;
	width: 100%;
	border: 0px solid #FF0000;
	
	overflow: hidden;
	
	opacity: 1;
	
	-webkit-transition: opacity 1.0s ease-in-out, height 0.3s ease-in-out;
	-moz-transition: opacity 1.0s ease,  height 1.0s ease-in-out;
	-o-transition: opacity 1.0s ease-in-out,  height 1.0s ease-in-out;
	transition: opacity 1.0s ease-in-out, height 1.0s ease-in-out;
		
}


.fw {
		
	position: absolute;
	top: 30px;
	left: 105px;
	width: 50px;
	
}


.info {

	
	width: 200px;
	height: 30px;
	
	font-size: 11px;
	text-align: center;
	
	
	border: 2px solid #DCFFDC;
	
	background-color: #EFFFEF;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0px 0px 6px #37A6EB;
	-moz-box-shadow: 0px 0px 6px #37A6EB;
	
	top: 35px;
	left: 250px;
	position: absolute;		
	
}


.logout {
	
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 12px;
	font-family: Verdana;
	font-weight: bold;
	color: #37A6EB
		
	}
	
.logout:hover {
	
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 12px;
	font-family: Verdana;
	font-weight: bold;
	color: #37A6EB;
	cursor: pointer;
	text-decoration: underline; 
	
	}

.numero_brani {
	
	color: #000000;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	display: inline;
	}
	


.play {
	
	position: absolute;
	top: 15px;
	left: 25px;
	width: 80px;
	
	}
	
	
.playlist {
	
	margin-top: 15px;
	margin-left: 10px;
	text-align: left;
	
	
	}



.rw {
		
	position: absolute;
	top: 30px;
	left: 150px;
	width: 50px;
	
}


.search {
	
	width: 185px;
	height: 15px;
	
	font-size: 11px;
	
	
	top: 55px;
	right: 15px;
	position: absolute;		
	
}
	
.social {
	
	margin-top: 10px;
	margin-left: 10px;
	text-align: left;
	
	color: #37A6EB;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	
	}



.socialButton {
	
	position: absolute;
	top: 20px;
	right: 230px;
	width: 60px;
		
}
	
	
.statistiche {
	
	margin-top: 10px;
	margin-bottom: 15px;
	margin-left: 10px;
	text-align: left;
	
	
	}


.title {
	
	color: green;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 8px;
	margin-top: 10px;
	
	}


.utente {
	
	color: #37A6EB;
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	
	margin-left: 10px;
	margin-top: 10px;
	
	}
	
.youtube {
	
	
	width: 200px;
	height: 80px;
	
	font-size: 11px;
	text-align: center;
	
	
	border: 2px solid #CCCCCC;
	
	background-color: #F0F0F0;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0px 0px 2px #EEEEEE;
	-moz-box-shadow: 0px 0px 2px #EEEEEE;
	
	bottom: 12px;
	left: 25px;
	position: absolute;		
	
	
	}
