.main {

	
	width: auto;
	height: 90%;
	
	min-width: 700px;      	
	min-height: 450px;      	
	
	border: 2px solid #AAAAAA;
	
	background-color: #FFFFFF;
	
	margin-top: 20px;
	margin-left: 215px;
	margin-right: 50px;
	margin-bottom: 20px;
	
	position: relative;
	
   	
   	-webkit-transition: margin 0.3s ease-in-out;
	-moz-transition: margin 0.3s ease-in-out;
	-o-transition: margin 0.3s ease-in-out;
	transition: margin 0.3s ease-in-out;
   	

	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-box-shadow: 4px 4px 10px #888888;
	-moz-box-shadow: 4px 4px 10px #888888;
	
	
}

.accountButton:hover {
	border: 0px solid black;  
	border-radius: 3px;
	-moz-border-radius: 3px;  
}

.accountButton {
	
	position: absolute;
	top: 20px;
	right: 220px;
	width: 60px;
	
	-webkit-transition: right 0.3s ease-in-out;
	-moz-transition: right 0.3s ease-in-out;
	-o-transition: right 0.3s ease-in-out;
	transition: right 0.3s ease-in-out;
	}
	


.addtrack_playlist {
	
	position: absolute;
	bottom: 3px;
	left: 10px;
	
	 
	}
	
.add_playlist {
	
	position: absolute;
	top: 2px;
	right: 6px;
	
	}

.song_add {
	
	font-family: Verdana;
	font-size: 9px;
	color: green;
	margin-left: 70px;
	margin-top: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 12px; 
	display: none;
	
	}

.track_remove {
	
	font-family: Verdana;
	font-size: 9px;
	color: #DD0000;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 8px;
	margin-top: 5px;	
	max-height: 12px;
	display: none;
	 
	}

.close_playlist {
	
	position: absolute;
	top: 0px;
	left: 6px;
	
	 
	}
	
.close_youtube {
	
	position: absolute;
	z-index: 3;
	bottom: 110px;
	left: 340px;
	opacity: 0;
	
	}
	
	
.close_youtube:hover {
	
	cursor: pointer;
		
	}


.ranking {
	
	position: absolute;
	bottom: 24px;
	left: 265px;
	
	}

.ranking_global {
	
	margin-top: 2px;
	
	
	}


.catalogue {
	
	-webkit-user-select: none;
	-moz-user-select: none;
   	-khtml-user-select: none;
   	user-select: none;
	
}

.catalogue_container {
	
	position:relative;
	
	min-height: 240px;    
	
	margin-top: 100px;
		
	width: 100%;
	height: 0px;
	border-bottom: 2px solid #DDDDDD;
	border-top: 2px solid #DDDDDD;
	
	float: left;
	overflow: auto;
	
	-webkit-transition: width 0.5s ease-in-out;
	-moz-transition: width 0.5s ease-in-out;
	-o-transition: width 0.5s ease-in-out;
	transition: width 0.5s ease-in-out;
	
	-webkit-user-select: none;
	-moz-user-select: none;
   	-khtml-user-select: none;
   	user-select: none;
	
	}

.container {
	
	position: absolute;
	height: 100%;
	width: 100%;
	border: 0px solid #FF0000;
	
	overflow: hidden;
	
	opacity: 1;
	
	-webkit-transition: opacity 1.0s ease-in-out, height 0.3s ease-in-out;
	-moz-transition: opacity 1.0s ease,  height 1.0s ease-in-out;
	-o-transition: opacity 1.0s ease-in-out,  height 1.0s ease-in-out;
	transition: opacity 1.0s ease-in-out, height 1.0s ease-in-out;
		
}



.cover {
	
	position: absolute;
	bottom: 10px;
	left:7px; 
	height: 164px;
	border: 0px solid #37A6EB;
	
	-webkit-box-shadow: 2px 2px 4px #888888;
	-moz-box-shadow: 2px 2px 4px #888888;
	
	width: 164px;
	height: 164px;
	
	border-radius: 8px;
	-moz-border-radius: 8px;

}
	

.covers {
	
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
   	-khtml-user-select: none;
   	user-select: none;
   	margin-bottom: 40px;
	
}

.covers_img {
	
	
	width: 100px;
	margin-left: 40px;
	margin-top: 40px;
	float: left;
	
	}

.credits {
	
	position: relative;
	left: -30px;
	text-align: center;
	width: 110%;
	border: 0px solid #FF0000;
	padding-top: 10px;
	clear: both;
	
	}

.credits_label {
	
	width: 100%;
	font-family: Verdana;
	font-size: 10px;
	color: #45FF4E;
	
	}

.editButton:hover {
	border: 0px solid #999999;  
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.editButton {
	
	position: absolute;
	top: 20px;
	right: 290px;
	width: 60px;
	
	-webkit-transition: right 0.3s ease-in-out;
	-moz-transition: right 0.3s ease-in-out;
	-o-transition: right 0.3s ease-in-out;
	transition: right 0.3s ease-in-out;
	
}


.edit_profile {
	
	
	
	width: 600px;
	height: 400px;
	
	min-height: 400px;      	
	
	border: 2px solid #222222;
	
	background: rgba(20, 20, 20, 0.85);
	
	position: absolute;
	
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	margin: auto;
	
	z-index: 10;  
	
	padding: 40px;
	display: none;
		
	-webkit-user-select: none;
	-moz-user-select: none;
   	-khtml-user-select: none;
   	user-select: none;
   	
   	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
   	

	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-box-shadow: 4px 4px 10px #888888;
	-moz-box-shadow: 4px 4px 10px #888888;
	
	
}

.edit_profile_about {
	
	text-align: left;
	
	border: 0px solid #FF0000;
	padding-top: 5px;
	clear: both;
	
	
	}


.edit_profile_aboutT {
	
	text-align: left;
	width: 575px;
	border: 0px solid #FF0000;
	margin-top: 10px;
	clear: both;
	min-height: 18px;
	max-height: 115px;
	height: 115px;
	overflow: auto;
	
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #37A6EB;
	
	padding-left: 10px;
	padding-right: 10px;
	
	
	border: 1.5px solid #000000;
	
	background: rgba(0, 10, 0, 0.50);
	
	-webkit-user-select: none;
	-moz-user-select: none;
   	-khtml-user-select: none;
   	user-select: none;
	
	border-radius: 15px;
	-moz-border-radius: 15px;

	-webkit-box-shadow: 0px 0px 8px #37A6EB;
	-moz-box-shadow: 0px 0px 8px #37A6EB;
	box-shadow: 0px 0px 8px #37A6EB;
	
	}

	
.edit_profile_close {

	position: absolute;
	
	opacity: 0.5;
	top: 15px;
	left: 15px;
	
	
	}
	
.edit_profile_clear {
	
	margin-left: 15px;
	margin-top: 4px;
	font-weight: bold;
	
	
	padding: 2px;
		
    padding-left: 4px;
	padding-right: 4px;
	border: 0px solid #000000;
	border-radius: 15px;
	-moz-border-radius: 15px;
	font-size: 12px;
	color: #FF0000;
	text-decoration: underline;
	font-family: Verdana;
	
	}
	

.edit_profile_check:hover {
	
	margin-left: 20px;	
	opacity: 0;
	
	border: 0px solid black;

}


.edit_profile_check {
	
	margin-left: 20px;	
	opacity: 0;

}


.edit_profile_checkC {
	
	position: absolute;
	top: 50px;
	left: -5px;	
	
	}


.edit_profile_checkT {
	margin-top: 4px;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: green;
	margin-left: 14px;
	cursor: pointer;
	width: 380px;
	}


.edit_profile_left {
	
	float: left;
	margin-top: 75px;	
	border: 0px solid #ff0000;
	
	
	}


.edit_profile_right {
	
	margin-left: 70px;
	float: left;	
	margin-top: 75px;
	border: 0px solid #FF0000;
	overflow: visible;
	width: 140px;
	}

.edit_profile_conf {
	
	margin-left: 30px;
	float: left;	
	margin-top: 75px;
	border: 0px solid #FF0000;
	
	
	
	}


.edit_profile_logo {
	
	position: absolute;
	
	top: 5px;
	right: 15px;
	width: 200px;
	
	
	}
	
.edit_profile_user {
	
	
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 3px;
		
	height: 25px;
	
	border: 1.5px solid #000000;
	
	background: rgba(0, 10, 0, 0.50);
	
	-webkit-user-select: none;
	-moz-user-select: none;
   	-khtml-user-select: none;
   	user-select: none;
	
	border-radius: 15px;
	-moz-border-radius: 15px;

	-webkit-box-shadow: 0px 0px 8px #37A6EB;
	-moz-box-shadow: 0px 0px 8px #37A6EB;
	box-shadow: 0px 0px 8px #37A6EB;
	
	}


.edit_profile_top {
	
	position: absolute;
	
	top: 15px;
	left: 55px;
	
	
	}

	
.edit_profile_label {
	
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	
	}
	
	
.edit_profile_labelu {
	
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #FFD800;

	
	}	

.edit_profile_labelf {
	
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #37A6EB;
	min-width: 80px;
	max-width: 170px;
	
	white-space: nowrap;
	
	overflow: hidden;
	
	
	padding-left: 10px;
	padding-right: 20px;
	
	
	height: 18px;
	
	border: 1.5px solid #000000;
	
	background: rgba(0, 10, 0, 0.50);
	
	-webkit-user-select: none;
	-moz-user-select: none;
   	-khtml-user-select: none;
   	user-select: none;
	
	border-radius: 15px;
	-moz-border-radius: 15px;

	-webkit-box-shadow: 0px 0px 8px #37A6EB;
	-moz-box-shadow: 0px 0px 8px #37A6EB;
	box-shadow: 0px 0px 8px #37A6EB;
	
	}

.edit_profile_row {
	
height: 30px;

	}

.remove_playlist {
	
	position: absolute;
	top: 4px;
	right: 5px;
	width: 14px;
	cursor: pointer;
	 
	}


.delete_song {
	
	position: absolute;
	top: 1px;
	right: 1px;
		
	background-color: #EEEEEE;
    padding-left: 4px;
	padding-right: 4px;
	border: 2px solid #CCCCCC;
	border-radius: 15px;
	-moz-border-radius: 15px;
	font-size: 10px;
	
	 
	}
	
.delete_song:hover{
	background-color: rgb(255,255,255);	
}

	
.left {

		 
	width: 180px;
	height: 90%;
   	
	
	min-width: 180px;      	
	min-height: 450px;      	
	
	border: 2px solid #AAAAAA;
	
	background-color: #FFFFFF;
	
	margin-top: 20px;
	margin-left: 15px;
	margin-bottom: 20px;
	
	position: absolute;
	
	top: 0px;
	left: 0px;
	
	text-align: left;
	
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-box-shadow: 4px 4px 10px #888888;
	-moz-box-shadow: 4px 4px 10px #888888;
	
}

.flag_ita {
	
	position: absolute;
	top: -18px;
	right: 100px;
		
	}
	
	
.flag_eng {

	position: absolute;
	top: -18px;
	right: 75px;
		
	
	}


.fw {
		
	position: absolute;
	top: 30px;
	left: 145px;
	width: 40px;
	z-index: 2;	
}


.fwF {
		
	position: absolute;
	top: 30px;
	left: 145px;
	width: 40px;
	z-index: 1;	
}

.help {
	
width: 97%;
	height: 97%;
		
	background: rgba(20, 20, 20, 0.40);
	
	position: absolute;
	
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	margin: auto;

	border: 2px solid #AAAAAA;	
	
	z-index: 19;  
	
	padding: 40px;

	
	text-align: left;
		
	-webkit-user-select: none;
	-moz-user-select: none;
   	-khtml-user-select: none;
   	user-select: none;
   	
   	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;

	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-box-shadow: 4px 4px 10px #222222;
	-moz-box-shadow: 4px 4px 10px #888888;

}

.help_body{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	padding: 20px;
	margin: auto;      	
	
	width: 500px;
	height: 400px;      	

		
	display: block;	
	
	border: 2px solid #AAAAAA;
	
	background-color: rgba(255,255,255,0.80);

	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-box-shadow: 4px 4px 10px #222222;
	-moz-box-shadow: 4px 4px 10px #888888;
	
	
	text-align: left;
	
	
}


.help_button:hover {
color: green;
}

.help_button {
	position: absolute;
	top: -20px;
	left: -190px;
	font-size: 12px;
	font-family: Verdana;
	font-weight: bold;
	color: #37A6EB;
	cursor: pointer;
}
	
.help_exit_button{
	position: absolute;
	bottom: 20px;
	right: 20px;
	font-size: 12px;
	font-family: Verdana;
	font-weight: bold;
	color: #37A6EB;
	cursor: pointer;
}
	
	
	
.info {

	
	width: 200px;
	height: 23px;
	padding-top: 7px;
	
	font-size: 11px;
	text-align: center;
	
	white-space: nowrap;
	overflow: hidden;
	
	border: 2px solid #DCFFDC;
	
	background-color: #EFFFEF;

	top: 25px;
	left: 250px;
	position: absolute;
			
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0px 0px 6px #37A6EB;
	-moz-box-shadow: 0px 0px 6px #37A6EB;
	box-shadow: 0px 0px 6px #37A6EB;
}


.info_youtube {

	position: absolute;
	top: 55px; 
	left: 355px;
	
	opacity: 0;
	
	width: 400px;
	
	text-align: left;
	
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	
	}

.info_youtube_link {

	position: absolute;
	top: 41px; 
	left: 355px;
	
	width: 300px;
	
	opacity: 0;
	
	text-align: left;
	
	font-family: Verdana;
	font-size: 11px;
	
	
	}
	
	
.loading {
	
	
	position: relative;
	top: -2px;
	left: 5px;
	width: 80px;
	
	-webkit-user-select: none;
	-moz-user-select: none;
   	-khtml-user-select: none;
   	user-select: none;
	
	}

.logout {	       
	position: absolute;
	top: -20px;
	right: 20px;
	font-size: 12px;
	font-family: Verdana;
	font-weight: bold;
	color: #37A6EB;
	cursor: pointer;
		
	}
	
.logout:hover {
	
	color: green;
	

	
	}


.logo_youtube {
	
	width: 110px;
	margin-top: 10px;
	
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;	
	
	}
	
	

.n_songs {
	
	color: #000000;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	
	
	}
	
.pdf:hover {
	border: 0px solid black;  
	border-radius: 3px;
	-moz-border-radius: 3px;  
}

.pdf {
	
	position: absolute;
	bottom: 28px;
	right: 25px;
	height: 60px;
	
	}


.play {
	
	position: absolute;
	top: 18px;
	left: 25px;
	width: 60px;
	
	}
	

.playlist {
	
	padding-top: 5px;
	margin-left: 0px;
	text-align: left;
	min-height: 140px;
	
	overflow: auto;
	
	
	}
	
	
.playlist_container {
	
	margin-top: 100px;
	min-height: 240px;    		
	width: 0px;
	height: 0px;
	
	-webkit-user-select: none;
	-moz-user-select: none;
   	-khtml-user-select: none;
   	user-select: none;
	
	border-bottom: 2px solid #DDDDDD;
	border-top: 2px solid #DDDDDD;
	float: left;
	text-align: left;
	
	opacity: 1;
	position: relative;
	
	overflow: auto;
	overflow-x: hidden;
	-webkit-transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-moz-transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-o-transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
	transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
	
	}
	
.playlist_inside {
	
	top:22px;
	left: 0px;
	position: absolute;
	border: 0px solid #FF0000;
	height: 100%;
	width: 100%;
	opacity: 0;
	overflow: auto;
	
	
	-webkit-transition: width 0.5s ease-in-out, opacity 0.2s ease-in-out;
	-moz-transition: width 0.5s ease-in-out, opacity 0.2s ease-in-out;
	-o-transition: width 0.5s ease-in-out, opacity 0.2s ease-in-out;
	transition: width 0.5s ease-in-out, opacity 0.2s ease-in-out;
	
	
}




.playlist_songs {
	
	position: relative;
	overflow: auto;
	width: 100px;
	
	}
	
.playlist_up {
	
		
	position: absolute;
	bottom: 1px;
	right: 30px;
	width: 20px;
	cursor: pointer;
	
	
	}
	
.playlist_down {
	
		
	position: absolute;
	bottom: 1px;
	right: 5px;
	width: 20px;
	cursor: pointer;
	
	}	
	
	
.playYoutube {
	
	width: 40px;
	margin-top: 10px;
	margin-left: 18px;
	float: left;
	
	-webkit-user-select: none;
	-moz-user-select: none;
   	-khtml-user-select: none;
   	user-select: none;
	}


.popup {
	
	width: 240px;
	height: 100px;
	
	min-height: 100px;      	
	
	border: 1px solid #FF2222;
	
	background: rgba(20, 20, 20, 0.93);
	
	position: absolute;
	
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	margin: auto;
	
	z-index: 11;  
	
	padding: 40px;
	
	
	text-align: center;
		
	-webkit-user-select: none;
	-moz-user-select: none;
   	-khtml-user-select: none;
   	user-select: none;
   	
   	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
   	

	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-box-shadow: 0px 0px 15px #FF0000;
	-moz-box-shadow: 0px 0px 15px #FF0000;
	
	
}

.popup_fast {
	
	width: 240px;
	height: 100px;
	
	min-height: 100px;      	
	
	border: 1px solid #FF2222;
	
	background: rgba(20, 20, 20, 0.93);
	
	position: absolute;
	
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	margin: auto;
	
	z-index: 13;  
	
	padding: 40px;
	
	display: none;
	opacity: 0;
	
	text-align: center;
		
	-webkit-user-select: none;
	-moz-user-select: none;
   	-khtml-user-select: none;
   	user-select: none;
   	
   	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
   	

	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-box-shadow: 0px 0px 15px #FF0000;
	-moz-box-shadow: 0px 0px 15px #FF0000;
	
	
}

.popup_yes {
	
	position: absolute;
	bottom: 20px;
	left: 50px;
	
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	
	width: 100px;
	
	}

.popup_no {
	
	position: absolute;
	bottom: 20px;
	right: 50px;
	
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	
	width: 100px;
	
	}



.deletetrack_playlist {
	
	position: absolute;
	bottom: 3px;
	left: 35px;
	
	 
	}



.rw {
		
	position: absolute;
	top: 30px;
	left: 100px;
	width: 40px;
	z-index: 2;
}

.rwF {
		
	position: absolute;
	top: 30px;
	left: 100px;
	width: 40px;
	z-index: 1;
}

.search {
	
	width: 115px;
	height: 15px;
	
	font-size: 11px;
	
	
	top: 55px;
	right: 15px;
	position: absolute;
	
	-webkit-transition: opacity 0.1s ease-in-out;
	-moz-transition: opacity 0.1s ease-in-out;
	-o-transition: opacity 0.1s ease-in-out;
	transition: opacity 0.1s ease-in-out;
	-webkit-user-select: text;
	-moz-user-select: text;
   	-khtml-user-select: text;
   	user-select: text;
	
}


.search_box{
	
	width: 80px;	
	}


.social {

	padding-top: 5px;	
	margin-left: 0px;
	padding-left: 10px;
	text-align: left;
	height: auto;	

	border-bottom: 1px solid #DDDDDD;
	overflow: auto;
	
	
	color: #37A6EB;
	font-family: Verdana;
	font-size: 11px;
	font-weight: 600;
	
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	
	}


.socialButton:hover {
	border: 0px solid black;  
	border-radius: 3px;
	-moz-border-radius: 3px;  
}

.socialButton {
	
	position: absolute;
	top: 20px;
	right: 150px;
	width: 60px;

	-webkit-transition: right 0.3s ease-in-out;
	-moz-transition: right 0.3s ease-in-out;
	-o-transition: right 0.3s ease-in-out;
	transition: right 0.3s ease-in-out;
	
}


.song_container {
	
	margin-top: 100px;
	min-height: 240px;    		
	width: 0px;
	height: 0px;
	
	-webkit-user-select: none;
	-moz-user-select: none;
   	-khtml-user-select: none;
   	user-select: none;
	
	border-bottom: 2px solid #DDDDDD;
	border-top: 2px solid #DDDDDD;
	float: left;
	text-align: left;
	
	opacity: 1;
	position: relative;
	overflow: auto;
	overflow-x: hidden;
	
	-webkit-transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-moz-transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
	-o-transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
	transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
	
	}
	
.song_inside {
	
	top: 22px;
	left: 0px;
	position: absolute;
	border: 0px solid #FF0000;
	height: 100%;
	width: 100%;
	opacity: 0;
	overflow: auto;
	
	-webkit-transition: width 0.5s ease-in-out, opacity 0.2s ease-in-out;
	-moz-transition: width 0.5s ease-in-out, opacity 0.2s ease-in-out;
	-o-transition: width 0.5s ease-in-out, opacity 0.2s ease-in-out;
	transition: width 0.5s ease-in-out, opacity 0.2s ease-in-out;
	
	
}


.song_cover {
	
	margin-left: 20px;
	margin-bottom: 20px;
	
	margin-top:20px;	
	border: 0px solid #37A6EB;
	
	-webkit-box-shadow: 2px 2px 4px #888888;
	-moz-box-shadow: 2px 2px 4px #888888;
	
	width: 120px;
	height: 120px;
	
	border-radius: 8px;
	-moz-border-radius: 8px;
	

	
}

.song_fields {
	
	float: left;
	font-family: verdana;
	font-size: 12px;
	color: #333333;
	margin: 6px;	
	
	}

.song_label {
	
	margin-bottom: 6px;
	width: 80px;
	
	}

.star {
	
	height: 18px;
		
	}

.starG {
	
	height: 14px;
	margin-right: 3px;
	}

.starsG {
	
	font-size: 12px;
	font-family: Verdana;
	margin-right: 15px;
	
	}
	
.statistics {
	
	
	
	width: 500px;
	height: 170px;
	
	
	
	border: 2px solid #222222;
	
	background: rgba(20, 20, 20, 0.90);
	
	position: absolute;
	
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	margin: auto;
	
	z-index: 10;  
	
	padding: 20px;
	padding-top: 40px;
	display: none;
		
	-webkit-user-select: none;
	-moz-user-select: none;
   	-khtml-user-select: none;
   	user-select: none;
   	
   	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
   	

	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-box-shadow: 4px 4px 10px #888888;
	-moz-box-shadow: 4px 4px 10px #888888;
	
	
}

.statistics_close {
	
	margin-top: 15px;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: green;
	cursor: pointer;
	width: 100px;
	
	}

.statistics_title {
	
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	color: green;
	margin-bottom: 10px;
	
	}
	

.statistics_label {
	
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	
	
	}
	
.statistics_data {
	
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #37A6EB;
	margin-left: 10px;
	}
	


.stats {
	
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 10px;
	text-align: left;
	
	
	}

.stats2:hover {
	border: 0px solid black;  
	border-radius: 3px;
	-moz-border-radius: 3px;  
}

.stats2 {
	
	position: absolute;
	bottom: 28px;
	right: 100px;
	height: 55px;
	
	}
	

.switch_cover {

	top: 70px;
	left: 277px;
	position: absolute;
			
	}


.switch_list {

	top: 70px;
	left: 250px;
	position: absolute;
			
	}


.title {
	
	position: relative;
	color: #38D12F;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: -2px;
	padding-left: 10px;
	padding-bottom: 3px;
	
	border-top: 1px solid #DDDDDD;
	
	background-color: #EEEEEE;
	
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	
	}

.title_playlist {
	
	color: #666666;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 8px;
	margin-top: 3px;
	margin-left: 3px;
	border: 0px solid #FF0000;
	
	white-space: nowrap;
	overflow: hidden;
	width: 90%;
	
	
	position: absolute;
	top: 0px;
	left: 25px;
	}

.title_song {
	
	color: #666666;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 8px;
	margin-top: 3px;
	margin-left: 3px;
	border: 0px solid #FF0000;
	white-space: nowrap;
	overflow: hidden;
	width: 90%;
	
	position: relative;
	top: 0px;
	left: 25px;
	
	
	}


.user {
	
	color: #000000;
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	
	width: auto;
	top: 45px;
	left: 10px;	
	
	}

.user {
	
	position: absolute;
	color: #000000;
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	border: 0px solid #000000;
	top:0px;
	left: 10px;
	opacity: 0;
	
	-webkit-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-o-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
	
	}


.youtube {
	
	
	width: 200px;
	height: 60px;
	
	font-size: 11px;
	text-align: center;
	
	z-index: 3;
	
	border: 2px solid #CCCCCC;
	
	background-color: #F0F0F0;
	
	bottom: 22px;
	left: 25px;
	position: absolute;
	
	-webkit-box-shadow: 2px 2px 4px #888888;
	-moz-box-shadow: 2px 2px 4px #888888;
	box-shadow: 2px 2px 4px #888888;

	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0px 0px 2px #EEEEEE;
	-moz-box-shadow: 0px 0px 2px #EEEEEE;
	
	}

	.youtube_appendix {
	
	
	width: 28px;
	height: 40px;
	
	font-size: 11px;
	text-align: center;
	
	opacity: 0;
	
	
	border-right: 2px solid #CCCCCC;
	border-top: 2px solid #CCCCCC;
	border-bottom: 2px solid #CCCCCC;
	
	background-color: #F0F0F0;
	-webkit-box-shadow: 0px 0px 2px #EEEEEE;
	-moz-box-shadow: 0px 0px 2px #EEEEEE;
	
	bottom: 90px;
	left: 335px;
	position: absolute;
	
	z-index:2;
	
	-webkit-box-shadow: 3px 3px 3px #888888;
	-moz-box-shadow: 3px 3px 3px #888888;
	box-shadow: 3px 3px 3px #888888;
	
	}
	